/builds/release/app-release.aab
/builds/release/app-release.apk
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/7.3.3/checksums/checksums.lock
/.gradle/checksums/checksums.lock
/.gradle/7.3.3/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.3.3/executionHistory/executionHistory.bin
/.gradle/7.3.3/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/7.3.3/fileHashes/fileHashes.bin
/.gradle/7.3.3/fileHashes/fileHashes.lock
/.gradle/7.3.3/dependencies-accessors/gc.properties
/.gradle/7.3.3/gc.properties
/.gradle/vcs-1/gc.properties
/.gradle/7.3.3/fileChanges/last-build.bin
/local.properties
/.gradle/7.3.3/checksums/md5-checksums.bin
/.gradle/checksums/md5-checksums.bin
/builds/release/output-metadata.json
/.gradle/buildOutputCleanup/outputFiles.bin
/key_store/private_key.pepk
/.gradle/7.3.3/fileHashes/resourceHashesCache.bin
/key_store/rym_droid.jks
/.gradle/7.3.3/checksums/sha1-checksums.bin
/.gradle/checksums/sha1-checksums.bin
/key_store/zakup-i.key.jks
